{% extends 'base.html' %}

{% block title %}
<div class="grid_3">
	<div id="chapter_summary">Introduction </div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Jazz analysis </div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Case Study: Keith Jarrett </div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Counterpoint analysis </div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Case Study: Bach</div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Orchestration </div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Case Study: Mahler</div>
</div>
<div class="grid_3">
	<div id="chapter_summary">Concludsions</div>
</div>
{% endblock %}